<li class="card-item col-xs-12 season-{{season}} {{filter_id}}" data-id="{{filter_id}}">
    <div class="wrapper">
        <div class="rank-column background-theme">
            <div class="rank-wrapper">
                <div class="rank"><span class="overall-rank">{{rank}}</span><span class="season-rank">{{season_ranking}}</span></div>
                <div class="episode">Episode {{episode_number}}</div>
                <hr class="third-width" />
                <div class="director">
                    <span>Directed by</span>
                    <span>{{director}}</span>
                </div>
            </div>
        </div>
        <div class="image-column">
            <div class="image">
                <img src="img/episodes/episode-{{episode_number}}.jpg" alt="{{name}}" />
                <!-- <img src="img/episodes/episode_1.png" alt="{{title}}" /> -->
                <div class="frame"></div>
            </div>
        </div>
        <div class="info-column">
            <div class="main-content">
                <div class="title">
                    {{title}}
                </div>
                <div class="blurb">
                    {{{blurb}}}
                </div>
                <div class="author">
                    {{blurb_writer}}
                </div>
            </div>
            <div class="item-footer">
                <div class="winner">
                    <strong>Episode Winner</strong> <span>{{winner}}</span>
                </div>
                <div class="podcast">
                    <a href="{{podcast_link}}" target="_blank">&ldquo;Binge Mode&rdquo; Episode {{podcast_episode_number}} <div class="arrow"></div></a>
                </div>
            </div>
        </div>
    </div>
</li>
